files:
  "/etc/logrotate.d/eb-custom":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/messages {
        daily
        rotate 3
        maxsize 100M
        missingok
        compress
        delaycompress
        notifempty
        copytruncate
      }

      /var/log/nginx/access.log
      /var/log/nginx/error.log {
        daily
        rotate 3
        maxsize 50M
        missingok
        compress
        delaycompress
        notifempty
        copytruncate
      }

      /var/log/web.stdout.log
      /var/log/send_scheduled_emails.stdout.log
      /var/log/send_reminder_emails.stdout.log
      /var/log/auto_approval.stdout.log
      /var/log/abandoned_cart.stdout.log
      /var/log/send_prearrival_emails.stdout.log
      /var/log/check_in_emails.stdout.log
      /var/log/goodbye_mails.stdout.log {
        daily
        rotate 3
        maxsize 50M
        missingok
        compress
        delaycompress
        notifempty
        copytruncate
      }
